input,textarea   {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-default {
    background-color: #09bde8;
    border-color: #18f306;
}

/*
.taj.container  {
    margin: auto;
    width: 600px;
}
*/

.white  {
    color: #ffffff;
}

.taj-col-xs-3 {
    width: 25%;
    position: absolute;
    top: 60px;
    bottom: 60px;
    z-index: 1;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    .taj-col-lg-9 {
        width: 75%;
        position: absolute;
        right: 0;
        top: 60px;
        bottom: 60px;
        overflow-y: scroll;
    }
}