
    <nav class="navbar taj-navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-text pull-left">
                <a class="navbar-link"
                   ng-click="model.backToPageList()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header col-xs-11 col-sm-5">
                <a class="navbar-brand">
                    Widgets
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a class="navbar-link"
                   ng-click="model.goToNewWidgetChooser()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </nav>



    <div class="container-fluid">



        <div ng-repeat="widget in model.widgetList" class="wd-widget">
            <div class="wd-widget-toolbar pull-right">
                <a href="widget-heading.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>

            <div ng-include="model.getSnippetUrl(widget.widgetType)"></div>

            <!--<div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">
                    <div ng-include="'widget/view/snippets/widget-heading-snippet.view.client.html'"></div>
                </div>

                <div ng-switch-when="IMAGE">
                    <div ng-include="'widget/view/snippets/widget-image-snippet.view.client.html'"></div>
                </div>

                <div ng-switch-when="HTML">
                    <div ng-include="'widget/view/snippets/widget-html-snippet.view.client.html'"></div>
                </div>

                <div ng-switch-when="YOUTUBE">
                    <div ng-include="'widget/view/snippets/widget-youtube-snippet.view.client.html'"></div>
                </div>
            </div>-->

        </div>


    </div>

    <div ng-include="'views/common/footer.view.client.html'"></div>
