<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Chooser</title>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../../css/style.css"
          rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-text pull-left">
                <a class="navbar-link" href="widget-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header col-xs-11 col-sm-5">
                <a class="navbar-brand" href="#">
                    Choose Widget
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a class="navbar-link" href="widget-list.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row wd-row">
            <div class="taj-col-xs-3 visible-lg">

                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">

                        <div class="navbar-text pull-left">
                            <a class="navbar-link" href="#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </div>

                        <div class="navbar-header col-xs-11 col-sm-5">
                            <a class="navbar-brand" href="#">
                                Widgets
                            </a>
                        </div>

                        <div class="navbar-text pull-right">
                            <a class="navbar-link" href="widget-chooser.html">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="wd-widget">
                        <div class="wd-widget-toolbar pull-right">
                            <a href="widget-heading.html">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <h1>
                            LycaMobile
                        </h1>
                    </div>
                    <div class="wd-widget">
                        <div class="wd-widget-toolbar pull-right">
                            <a href="#">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <h3>
                            This is not the official LycaMobile website. Prepaid Bill Inc.
                            is an authorized payment center of LycaMobile products.To visit
                            the official LycaMobile website, go to lycamobile.us
                        </h3>
                    </div>
                    <div class="wd-widget">
                        <div class="wd-widget-toolbar pull-right">
                            <a href="widget-image.html">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <img src="http://cdn-us-ec.yottaa.net/59108a6532f01c36172d42c0/www.lycamobile.us/v~13.41/Media/LYCA/images/banner-shop-plans.jpg?yocs=2_&yoloc=us"/>
                    </div>
                    <div class="wd-widget">
                        <div class="wd-widget-toolbar pull-right">
                            <a href="#">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <p> 
                            Make sure you've got a current Lycamobile Plan. If you're not yet with Lycamobile,
                            check out our <a href="http://national-plans.com" target="_blank">national and international plans.</a>
                        </p>
                        <p>
                            Tell your friends in the Lycamobile counry they live in to join the Lycamobile family and start talking for free.
                            You can also help them by:
                            Order a Free Sim for them that we will deliver to the address in the country they live.
                        </p>
                    </div>
                    <div class="wd-widget">
                        <div class="wd-widget-toolbar pull-right">
                            <a href="widget-heading.html">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <h2>
                            Do schools kill creativity? | Sir Ken Robinson
                        </h2>
                    </div>
                    <div class="wd-widget">
                        <div class="wd-widget-toolbar pull-right">
                            <a href="widget-youtube.html">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <a href="#">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        </div>
                        <iframe height="400" src="https://www.youtube.com/embed/iG9CE55wbtY?list=PL70DEC2B0568B5469" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="wd-widget-toolbar pull-right">
                        <a href="#">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="#">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                    <div class="wd-widget">
                        Published on Jan 6, 2007
                        http://www.ted.com : Sir Ken Robinson makes an entertaining and
                        profoundly moving case for creating an education system that nurtures (rather than undermines) creativity.
                    </div>




                </div>

                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <div class="container-fluid">
                        <div class="navbar-brand pull-left">
                            <a class="navbar-link" href="#">
                                <span class="glyphicon glyphicon-play"></span>
                            </a>

                            <a class="navbar-link" href="../../page/view/page-list.html">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </div>
                        <div class="navbar-text pull-right">
                            <a class="navbar-link" href="../../user/view/profile.view.client.html">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </div>
                    </div>
                </nav>

            </div>
            <div class="col-xs-12 taj-col-lg-9">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                Name
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                Updated
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                Visists
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-chooser.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-plus white"></span>
                                </a>
                            </div>
                        </div>
                    </li>


                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                <a href="widget-heading.html">
                                    Header
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-heading.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                Label
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-label.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                HTML
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-html.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                Text Input
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-textin.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                Link
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-link.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                Button
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-button.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                <a href="widget-image.html">
                                    Image
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-image.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                <a href="widget-youtube.html">
                                    Youtube
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-youtube.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                Data Table
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-dtable.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-5">
                                Repeater
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                2017-07-11
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                100890
                            </div>
                            <div class="col-xs-2">
                                <a href="widget-repeater.html" class="navbar-link pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


    </div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-brand pull-left">
                <a class="navbar-link" href="widget-list.html">
                    <span class="glyphicon glyphicon-backward"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="../../user/view/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>

</body>
</html>