




<div ng-include="'views/common/header.view.client.html'"></div>


<div class="container-fluid ">

    <div class="col-xs-3 visible-lg taj-col-xs-3">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-10">
                        Name
                    </div>
                    <div class="col-xs-2">
                        <a href="#" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-plus white"></span>
                        </a>
                    </div>
                </div>
            </li>


            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-10">
                        <a href="../../widget/view/widget-list.view.client.html">
                            Blog Post
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="page-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="../../widget/view/widget-list.view.client.html">
                            Blog
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="page-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="../../widget/view/widget-list.view.client.html">
                            Home
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="page-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="../../widget/view/widget-list.view.client.html">
                            About
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="page-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="../../widget/view/widget-list.view.client.html">
                            Contact Us
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="page-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <!--<li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>-->
        </ul>
    </div>

    <div class="col-xs-12 col-lg-9 taj-col-lg-9">
        <form>

            <div class="form-group">
                <label for="pageName"> Name</label>
                <input class="form-control"
                       id="pageName"
                       name="pageName"
                       ng-model="model.page.name"
                       placeholder="Facebook"/>
            </div>

            <div class="form-group">
                <label for="pageDescription">Title</label>
                <textarea class="form-control"
                          id="pageDescription"
                          name="pageDescription"
                          ng-model="model.page.description"
                          rows="1"
                          placeholder="Write something about the page."></textarea>
            </div>
        </form>

        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.create(model.page)"
           role="button">Create</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.backToPageList()"
           role="button">Cancel</a>

    </div>


</div>


<div ng-include="'views/common/footer.view.client.html'"></div>