<label for="headerName">Name</label>
<input class="form-control"
       id="headerName"
       name="headerName"
       palceholder="US News"
       ng-model="model.widget.name"/>

<label for="headerText">Text</label>
<input class="form-control"
       id="headerText"
       name="headerText"
       type="text"
       placeholder="Sudden surge in Nasdaq index"
       ng-model="model.widget.text"/>

<label for="headerSize">Size</label>
<input class="form-control"
       name="headerSize"
       id="headerSize"
       placeholder="1=h1 ... 6=h6"
       ng-model="model.widget.size"/>
