<label for="youtubeName">Name</label>
<input class="form-control"
       id="youtubeName"
       name="youtubeName"
       placeholder="Sir Ken Robinson"
       ng-model="model.widget.name"/>

<label for="youtubeText">Text</label>
<input class="form-control"
       id="youtubeText"
       name="youtubeText"
       type="text"
       placeholder="Do schools kill creativity?"
       ng-model="model.widget.text"/>

<label for="youtubeUrl">URL</label>
<input class="form-control"
       id="youtubeUrl"
       name="youtubeUrl"
       type="url"
       placeholder="https://www.youtube.com/watch?v=Wg7v8YIu5Ms"
       value="https://www.youtube.com/watch?v=Wg7v8YIu5Ms"
       ng-model="model.widget.url"/>

<label for="youtubeWidth">Width</label>
<input class="form-control"
       id="youtubeWidth"
       name="youtubeWidth"
       type="tetx"
       placeholder="100%"
       ng-model="model.widget.width"/>
