


<!--
<div ng-include="'views/common/header.view.client.html'"></div>
-->
<nav class="navbar taj-navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-text pull-left">
            <a class="navbar-link"
               ng-click="model.chevronLeft()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header col-xs-11 col-sm-5">
            <a class="navbar-brand">
                {{model.brand}}
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a class="navbar-link"
               ng-click="model.updateWebsite(model.website)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="col-xs-3 visible-lg taj-col-xs-3">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-10">
                        Name
                    </div>
                    <div class="col-xs-2">
                        <a ng-click="model.createNewWebsite()"
                           class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-plus white"></span>
                        </a>
                    </div>
                </div>
            </li>


            <li ng-repeat="website in model.websiteList"
                class="list-group-item">
                <div class="row">
                    <div class="col-sm-10">
                        <a ng-click="model.goToPages(website.name)">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a class="navbar-link pull-right"
                           ng-click="model.editWebsite(website.name)">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-lg-9 taj-col-lg-9">
        <form>

            <label for="websiteName"> Name</label>
            <input class="form-control"
                   id="websiteName"
                   name="websiteName"
                   ng-model="model.website.name"
                   />

            <label for="description"> Description</label>
            <textarea class="form-control"
                      id="description"
                      name="description"
                      ng-model="model.website.description"
                      rows="5">{{model.website.description}}</textarea>

        </form>
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.updateWebsite(model.website)"
           role="button">Update</a>

        <a class="btn btn-default btn-success btn-block"
           ng-click="model.goToPages()"
           role="button"> Pages</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.deleteWebsite()"
           role="button">Delete</a>

    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>