<nav class="navbar taj-navbar-default navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
        <div class="navbar-brand">
            Login
        </div>
    </nav>

    <div>
        <div class="container-fluid">

            <div ng-show="model.message" class="alert alert-danger">
                {{model.message}}</br>
                Please try again...
            </div>

            <label for="username">Userame</label>
            <input name="username"
                   ng-model="model.user.username"
                   class="form-control"
                   id="username"
                   placeholder="alice"/>

            <label for="password">Password</label>
            <input class="form-control"
                   name="password"
                   ng-model="model.user.password"
                   id="password"
                   type="password"
                   placeholder="qwe123"/>

            <a class="btn btn-default btn-primary btn-block"
               role="button"
               ng-click="model.login(model.user)">
                Login</a>

            <a class="btn btn-default btn-success btn-block"
               href="#!register"
               role="button">Register</a>
        </div>
    </div>

    <nav class="navbar taj-navbar-default navbar-fixed-bottom">
        <div class="navbar-brand">
            Neu App
        </div>
    </nav>