




<div ng-include="'views/common/header.view.client.html'"></div>


<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-4 col-sm-5">
                    Name
                </div>
                <div class="col-sm-3 col-xs-6">
                    Updated
                </div>
                <div class="col-sm-2 hidden-xs">
                    Visists
                </div>
                <div class="col-xs-2">
                    <a class="navbar-link pull-right"
                       ng-click="model.createNewPage()">
                        <span class="glyphicon glyphicon-plus white"></span>
                    </a>
                </div>
            </div>
        </li>


        <li class="list-group-item"
            ng-repeat="page in model.pageList">
            <div class="row">
                <div class="col-xs-4 col-sm-5">
                    <a ng-click="model.goToWidgets(page.name)">
                        {{page.name}}
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                    {{page.updated}}
                </div>
                <div class="col-sm-2 hidden-xs">
                    {{page.visited}}
                </div>
                <div class="col-xs-2">
                    <a class="navbar-link pull-right"
                       ng-click="model.editPage(page.name)">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
        <!--{{model.pageList}}-->

    </ul>


</div>


<div ng-include="'views/common/footer.view.client.html'"></div>
