


<div ng-include="'views/common/header.view.client.html'"></div>


<div class="container-fluid">

    <div class="col-xs-3 visible-lg taj-col-xs-3">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-10">
                        Name
                    </div>
                    <div class="col-xs-2">
                        <a href="website-new.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-plus white"></span>
                        </a>
                    </div>
                </div>
            </li>


            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-10">
                        <a class="navbar-link" href="../../page/view/page-list.view.client.html">
                            Wikipedia
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a class="navbar-link" href="../../page/view/page-list.view.client.html">
                            Facebook
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a class="navbar-link" href="../../page/view/page-list.view.client.html">
                            Twitter
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a class="navbar-link" href="../../page/view/page-list.view.client.html">
                            Amazon
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.view.client.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <!--<li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>
            <li class="list-group-item">abc</li>-->
        </ul>
    </div>

    <div class="col-xs-12 col-lg-9 taj-col-lg-9">
        <form>

            <label for="websiteName"> Name</label>
            <input class="form-control"
                   id="websiteName"
                   name="websiteName"
                   ng-model="model.website.name"
                   />

            <label for="description"> Description</label>
            <textarea class="form-control"
                      id="description"
                      name="description"
                      ng-model="model.website.description"
                      rows="5">{{model.website.description}}</textarea>

        </form>
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.updateWebsite(model.website)"
           role="button">Update</a>

        <a class="btn btn-default btn-success btn-block"
           ng-click="model.goToPages()"
           role="button"> Pages</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.deleteWebsite()"
           role="button">Delete</a>

    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>