<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websites</title>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../../css/style.css"
          rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-text pull-left">
                <a class="navbar-link" href="../../../user/view/profile.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header col-xs-11 col-sm-5">
                <a class="navbar-brand" href="#">
                    Websites
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

       <!-- <div class="row">
            <div class="col-s col-md-3">Name</div>
            <div class="col-xs-3">Update</div>
            <div class="col-xs-3">Visists</div>
            <div class="col-xs-3">
                <a href="#" class="navbar-link pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>-->
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        Name
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        Updated
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        Visists
                    </div>
                    <div class="col-xs-2">
                        <a href="website-new.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-plus white"></span>
                        </a>
                    </div>
                </div>
            </li>


            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        <a href="../../page/view/page-list.html">
                            Wikipedia
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        2017-07-11
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        100890
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        <a href="../../page/view/page-list.html">
                            Facebook
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        2017-07-11
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        100890
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        <a href="../../page/view/page-list.html">
                            Twitter
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        2017-07-11
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        100890
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        <a href="../../page/view/page-list.html">
                            Amazon
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        2017-07-11
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        100890
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.html" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        Amazon
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        2017-07-11
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        100890
                    </div>
                    <div class="col-xs-2">
                        <a href="#" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        Amazon
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        2017-07-11
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        100890
                    </div>
                    <div class="col-xs-2">
                        <a href="#" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        Amazon
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        2017-07-11
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        100890
                    </div>
                    <div class="col-xs-2">
                        <a href="#" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>


    </div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="../../../user/view/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>

</body>
</html>